<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=/loginerror" />
    <title>登录失败</title>
    <script type="text/javascript" src="${ctx}/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script type="text/javascript">
        window.onload = function f() {
            var i =5;
            var a = setInterval(function () {
                i--;
                if(i<=0){
                    document.getElementById("p1").innerHTML = "登录失败，返回登录界面";
                    //$("#i1").prop("disabled",false);
                    clearInterval(a);
                    location = "/loginerror";
                }else {
                    document.getElementById("p1").innerHTML = "登录失败,还有"+i+"秒跳转回登录界面";
                    return false;
                }
            },1000)
        }
    </script>
</head>
<body style="text-align: center;margin: auto">
<h2>登录失败</h2>
<br>
<br>
<p id="p1">登录失败,还有5秒跳转回登录界面</p>

</body>
</html>